# Application repo ignores
venv/
__pycache__/
.env
node_modules/
.idea/
dist/

# Terraform caches if present
.terraform/
*.tfstate

# React / node build artifacts
react-app/node_modules/
react-app/dist/

#MacOS system files
.DS_Store